.header {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--dark-green);
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            color: white;
            font-size: 18px;
            padding: 8px 24px;
            border-bottom: 3px solid transparent;
            transition: 0.3s ease;

            &.active {
                border-bottom: 3px solid var(--yellow);
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.06);
            }

            &:hover {
                border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }


}