.header {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--dark-green);
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile_menu {
        display: none;
    }
    .custom_menu{
        display: flex;
        justify-content: space-between;
        gap: 20px
    }
    nav {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            color: white;
            font-size: 18px;
            padding: 8px 24px;
            border-bottom: 3px solid transparent;
            transition: 0.3s ease;

            &.active {
                border-bottom: 3px solid var(--yellow);
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.06);
            }

            &:hover {
                border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }


}



.menu_content {
    opacity: 0;
    background-color: var(--light-green);
    transform: translateX(-100%);
    transition: all 0.3s ease !important;
    padding: 50px;
    height: 100dvh;
    position: fixed;
    left:0;
    top: 0;
    z-index: 1;
    nav{
        display: flex;
    flex-direction: column;
    }
}

.menu {
    i{
        font-size: 50px;
    }
    color: var(--yellow);
    cursor: pointer;
}


.menu_content.active {
 opacity: 1;
  transform: translateX(0);
}

@media(max-width: 1125px) {
    button {
        display: none;
    }

    .header_content {
        .custom_menu {
            display: none;
        }

        .mobile_menu {
            display: block;
        }
    }
}