.section {
    padding: 80px 0;
    background-color: #f9f9f9;
    overflow: hidden;
}

.content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    h2{
        margin-top: 24px;
    }
}
.texts{
    flex: 1;
}
.slider {
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 16px;
    flex: 1;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    border-radius: 16px;
}

.slider img.active {
    opacity: 1;
    z-index: 1;
}

.slider img.inactive {
    opacity: 0;
    z-index: 0;
}