.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(255, 187, 28, 0.05);
    overflow: hidden;

    .section_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 23px;

        ul {
            margin-top: 50px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;

            span {
                color: #84BD3A;
                font-weight: bold;

                letter-spacing: 4px;
            }

            li {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: var(--dark-grey);
            }
        }

        .productimg {
            height: auto;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;

            }
        }


    }
}

@media(max-width: 1100px){
    .section{
        overflow-x: auto;
    }
    .section_content{
        flex-direction: column;
        gap: 100px !important;
    }
}