.section {
    background-color: #fff;
    background-color: rgba(255, 187, 28, 0.05);
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.content_left {
    flex: 1;
    align-self: stretch;

    h2 {
        margin-bottom: 24px;
    }
}

.content_right {
    align-self: stretch;
    flex: 1;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2{
        margin-bottom: 24px;
    }

}

.resultItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #e0e0e0;
}

.resultLabel {
    color: #666;
}

.resultValue {
    font-weight: 600;
    color: var(--dark-grey);
}

@media(max-width: 1100px){
    .content{
        flex-direction: column;
        gap: 100px;
    }
}